<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header fw-bold">
                        <%= result[0].label %>
                    </div>
                    <div class="list-group">
                        <% for (let row of result) { %>
                            <a href="/sections/<%=row.section_id%>/<%=row.task_id%>" class="list-group-item list-group-item-action 
                                <%= ((Date.now() + 86400000)> Date.parse(row.due)) ? " text-danger" : "" %>
                                <%= ((Date.now() + 86400000*3)> Date.parse(row.due)) ? " text-warning" : ""%>">
                                    <%- row.priority? "&#9733" : "" %>
                                        <%=row.task %>
                            </a>
                            <% } %>
                    </div>
                    <div class="card-body mb-5">
                        <a href="/sections/<%=result[0].section_id%>/new" class="btn btn-success">Add Task</a>
                    </div>
                    <div class="card-footer">
                        <a href="/sections/<%=result[0].section_id%>/edit" class="btn btn-primary mb-3">Edit Section
                            Label</a>
                        <form action="/sections/<%=result[0].section_id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Section</button>
                        </form>
                        <a href="/sections" class="btn btn-secondary mt-3">Back to Sections</a>
                    </div>
                </div>

            </div>
        </div>
    </div>